body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: 'Luckiest Guy', cursive;
}

p{
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: black;
    background-color: #ffa600;
    border-radius: 25px;
    box-shadow: 0px 0px 6px 0px #6c6c6c;
    border: none;
    cursor: pointer;
    z-index: 100;
    font-family: 'Luckiest Guy', cursive;
    transition: all .2s ease-in-out;
}

button:hover{
    background-color: #FFDC04;
    transform: scale(1.1);
}

.d-none{
    display: none;
}

.vis-hidden{
    opacity: 0;
}

.d-flex{
    display: flex;
}

.alignCenter{
    align-items: center;
}

.spaceBetween{
    justify-content: space-between;
}

.container{
    width: 720px;
    height: 480px;
    box-shadow: 0px 0px 8px 0px black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

canvas{
    background-color: black;
    border-radius: 2px;
}

.startscreen{
    position: absolute;
    width: 720px;
    height: 480px;
    border-radius: 10px;
}

#startButton{
    left: 43%;
    height: 50px;
    width: 120px;
    margin-top: 32px;
    font-size: 30px;
}

#settingsButton{
    left: 10%;
    height: 45px;
    width: 120px;
    top: 89%;
    font-size: 20px;
}

#controlButton{
    right: 10%;
    height: 45px;
    width: 120px;
    top: 89%;
    font-size: 20px;
}

#menuButton{
    height: 30px;
    width: 80px;
    font-size: 14px;
}

.background{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in-out;
}

.menu{
    display: block;
    background-image: radial-gradient(yellow, rgb(255, 230, 0), orange);
    position: absolute;
    padding: 29px;
    border-radius: 15px;
    box-shadow: 0px 0px 8px 0px black;
    transition: all .4s ease-in-out;
}

#settings{
    height: auto;
    width: 250px;
    left: 30%;
    top: 33%;
}

#control{
    height: auto;
    width: 250px;
    left: 29%;
    top: 22%;
}

.controlImage{
    width: 24px;
    height: 24px;
}

.closeMenu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    z-index: 100;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
